<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
    

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <title>Empanadas y Promociones</title>

</head>
<body>
    
    <header>

     

        <!--nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/productos.html">Pizzas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/empanadas.html">Empanadas</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/puntosdeventa.html">Sucursales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/contacto.html">Contacto</a>
                </li>
              </ul>
            </div>
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid1">
                        <a class="navbar-brand" href="./index.html"><img class="pizzalogo" src="../img/logo.png" alt=""></a>
                    </div>
                    </nav>
              </div>
        </nav-->

        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <!-- Brand -->
            
          
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="pizzalogo" src="../img/logo.png" alt=""></a>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/productos.html">Pizza</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/empanadas.html">Empanadas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/puntosdeventa.html">Sucursales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/contacto.html">Contacto</a>
                </li>
              </ul>
            </div>
          </nav>

    </header>

    <br>

    <div class="textotituloempanada">

        <h2>Nuestras Empanadas</h2>

    </div>


    


    <br>
    <br>
    <br>

    <table class="empanadas" border="3px solid black">

        <tr>

            <th>EMPANADA</th>
            
            <th>INGREDIENTES</th>

        </tr>

        <tr>

            <th>Carne Suave</th>
            

            <th>
                <ol>
                    <ul>Corte de paleta magro, cebolla, morrón, huevo duro y suavemente condimentado.</ul>
                </ol>

            </th>

            


        </tr>

        <tr>

            <th>Pollo</th>

           

            <th>
                <ol>
                    <ul>Corte de pechuga cocinado a fuego lento, huevo duro, cebolla caramelizada y un toque de salsas a base de especias.</ul>
                </ol>

            </th>

        </tr>

        <tr>

            <th>Carne Picante</th>

            

            <th>
                <ol>
                    <ul>Corte de paleta magro, cebolla, morrón, huevo duro, especias y ají picante.</ul>
                </ol>

            </th>

        </tr>

        <tr>

            <th>Verdura</th>

           

            <th>
                <ol>
                    <ul>Espinacas pre cocidas, morrón fresco, salsa bechamel liviana, queso sardo y queso muzzarella seleccionado.</ul>
                </ol>

            </th>

        </tr>

        <tr>

            <th>Jamón y Queso</th>

            

            <th>
                <ol>
                    <ul>Jamón cocido con suave queso muzzarella seleccionado.</ul>
                </ol>

            </th>

        </tr>

        <tr>

            <th>Panceta y Queso</th>

            

            <th>
                <ol>
                    <ul>Panceta ahumada, muzzarella de alta calidad, huevo duro y especias.</ul>
                </ol>

            </th>

        </tr>

        <tr>

            <th>Capresse</th>

            

            <th>
                <ol>
                    <ul>Masa a base de espinaca con un relleno de queso muzzarella seleccionado, tomates frescos y un toque de albaca.</ul>
                </ol>

            </th>

        </tr>

        <tr>

            <th>Vacio y Provoleta</th>

            

            <th>
                <ol>
                    <ul>Vacio asado con 5 horas de cocción, finamente desmechado, combinación de provoleta con muzarrella marinado en chimichurri, y vegetales asados. Masa rociada con semolín.</ul>
                </ol>

            </th>

        </tr>

        <tr>

            <th>Jamón con Huevo</th>

            

            <th>
                <ol>
                    <ul>Jamón cocido cortado en cubos y combiando con huevo duro.</ul>
                </ol>

            </th>

        </tr>

        <tr>

            <th>Salchicha y Cheddar</th>

            

            <th>
                <ol>
                    <ul>Salchicha tipo Viena troceada cubierta de exquisitas fetas de queso cheddar que se derriten uniendo los sabores.</ul>
                </ol>

            </th>

        </tr>

    </table>

    <div class="textoEmpanada">
        <p>Media Docena: <strong>$630</strong> Una Dodena: <strong>$1250</strong> Dos Docenas: <strong>$1950</strong></p>
    </div>

    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
          <img
            src="https://estaticos.miarevista.es/media/cache/1140x_thumb/uploads/images/recipe/5edd22d35bafe854db55f541/empanada-carne.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-interval="2000">
          <img
            src="https://misrecetasdecocina.net/wp-content/uploads/2017/08/receta-de-empanadas-de-pollo.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://dam.cocinafacil.com.mx/wp-content/uploads/2019/09/empanadas-atun1.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleInterval"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleInterval"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>










    <br>
    <br>

    <footer>
        <h6 class="frase">2020 - Pizzería Picante</h6>
  
        <h6 class="mail"> pizzeria.picante@gmail.com</h6>
  
        <div class="redes">
          <a href="https://www.youtube.com/watch?v=HioPaqrdZvA">
            <img src="https://img.icons8.com/pastel-glyph/2x/whatsapp.png" alt="">
          </a>
          <a href="https://www.youtube.com/watch?v=HioPaqrdZvA">
            <img src="https://www.idea-imagen.com/productos/images/twitter-4-icon.png" alt="">
          </a>
          <a href="https://www.youtube.com/watch?v=HioPaqrdZvA">
            <img src="../insta.png" alt="">
          </a>
          
        </div>
      </footer>



</body>
</html>