  body {


    background-image: url();
  }



h3  {

    color: rgba(0, 0, 0, 0.74);
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    animation-duration: 4s;
    animation-name: aparecer;

    }
    
    @keyframes aparecer {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
   }
   


    p   {
    
    color: rgb(0, 0, 0);
    
    font-family: 'Kanit', sans-serif;
    font-size: 14pt;
    font-weight: 700;
    
    }
    
    @mixin espacio($padding, $margin)  { 
      @if  ($padding > $margin)  { 
           padding: $padding; 
      } @else { 
           padding: $margin; 
      } 
 }

 .encabezado__parrafo2 { 
  @include espacio(10px, 20px); 
}

.encabezado__parrafo2   {
    
    color: rgba(255, 255, 255, 0.74);
    background-color: #315a47;
    font-size: 15pt;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    
    }
    







    ul  {
    
    color: rgb(255, 0, 0);
    
    }
    
    
    
    
    
    
    a:hover {
    
    color: rgb(255, 255, 255);
    
    }
    
    
    li  {
    
    color: rgb(0, 0, 0);
    
    }




    nav {
        float: right; 
        
      }
       
      nav ul {
        list-style: none;
        overflow: hidden; 
      }
       
      nav ul li {
        float: left;
        font-family: 'Kanit', sans-serif;
        font-size: 16px;
      }
       
      nav ul li a {
        display: inside block; 
        padding: 15px;
        color: #fff;
        text-decoration: none;
      }
       
      nav ul li:hover {
        background: #aa1e1e;
      }
    



h6  {

    font-family: 'Kanit', sans-serif;
    font-size: 15px;
}
      

.redes {

color: black;

}

.contenedorTarjetas__quienesSomos {
  background: #315a47;
  height: 200px;
  width: auto;
  border: 5px solid rgb(134, 31, 31);
  overflow: hidden;
  padding: 10px;
  text-align: center;
  grid-area: quienesSomos;
  font-size: large;
  font-family: 'Kanit', sans-serif;
  color: rgba(255, 255, 255, 0.74);
}

.contenedorTarjetas__elegirnos {
  background: #315a47;
  height: 200px;
  width: auto;
  border: 5px solid rgb(134, 31, 31);
  overflow: hidden;
  padding: 10px;
  text-align: center;
  grid-area: elegirnos;
  font-size: large;
  font-family: 'Kanit', sans-serif;
  color: rgba(255, 255, 255, 0.74);
}


.contenedorTarjetas {

  display: grid; 
  align-items: center; 
  justify-content: space-around; 
  align-content: center;
  grid-template-rows: 100px 1fr; 
  grid-template-columns: auto auto ;
  grid-gap: 1rem;
  grid-template-areas: 
    "texto texto"
    "quienesSomos elegirnos";
  
}

.contenedorTarjetas__texto  {

color: rgba(255, 255, 255, 0.74);
border: 5px solid rgb(134, 31, 31);
padding-left: 15px;
grid-area: texto;
background: #315a47;
animation-duration: 4s;
animation-name: aparecer;
text-align: center;
font-family: 'Kanit', sans-serif;

}




footer {

margin-top: 20px;  
padding: 20px;
display: flex;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
background-image: linear-gradient(to bottom , rgb(47, 161, 196) , rgba(255, 127, 80, 0.884));
display: flex;
justify-content: space-between;
font-family: 'Kanit', sans-serif;
}



.pizzalogo{

  width: 60px;
  height: 60px;

}

.carousel-inner {

  height: 100vh;
}

@mixin sizes($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}
.textoInfo__mail {

@include sizes(20px, 10px);

}

.tituloVenta {

border: 5px;
font-family: 'Kanit', sans-serif;

}

.tituloVenta--nuevo{

@extend .tituloVenta;
color: red;

}






